* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #E5E5E5;
}

.container {
  max-width: 1510px;
  margin: 0 auto;
  background: #fff;
}

.container__item {
  max-width: 1170px;
  margin: 0 auto;
}

.container_header {
  background-image: url(/images/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
}

.btn__item {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  background-color: #FF4343;
  display: inline-flex;
  padding: 24.5px 91px 24.5px 91px;
}

.btn__item_padding_down {
  padding: 24.5px 91px 24.5px 91px;
}

.btn__item:hover {
  background-color: #E71414;
}

.btn__item:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

/*------nav-bar------*/

.hamburger-menu {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar__menu {
  display: flex;
}

.nav-bar__link {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6.5px 34.5px 40.5px 34.5px;
}

.nav-bar__link:hover {
  border-bottom: 3px solid #BABBC5;
}

.nav-bar__link:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}

.logo {
  display: inline-flex;
  max-height: 270px;
}

.logo__item {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*------header-----*/

.wrapper {
  display: flex;
  border-bottom: 1px solid #BABBC5;
  justify-content: space-between;
}

.header__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #fff;
}

.header__wrapper {
  padding: 130px 0 120px 0;
}

.header__text {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.header__description {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.btn_header {
  padding-top: 82px;
}

/*------main------*/

.main__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 130px 0 40px 0;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: calc(33% - 16px);
  gap: 46px;
  padding-bottom: 90px;
}

.card__title {
  color: #2D3033;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.description {
  color: #6C7279;
  font-size: 18px;
  line-height: 21px;
}

/*------gallery-----*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 114px;
}

.gallery__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 25%;
  position: relative;
}

.gallery__title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #FFFFFF;
  display: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  gap: 37px;
}

.gallery__post-title {
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}

.gallery__item:hover .gallery__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gallery__item:active .gallery__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
}

.gallery__img {
  width: 100%;
  object-fit: contain;
}

/*-----post-middle----*/

.main__post-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 114px;
}

.card-developer {
  display: flex;
  flex-wrap: wrap;
  max-width: 23%;
}

.description_text_left {
  text-align: left;
}

.card-developer__avatar {
  width: 100%;
  object-fit: contain;
}

.card-developer__title {
  color: #2D3033;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card-developer__post-title {
  color: #FF4343;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.card-developer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 30px 0 20px 0;
}

.icon {
  border: 1px solid #C6CBCD;
}

.icon-box {
  display: flex;
  gap: 5px;
}

.icon-box_developer {
  padding-top: 34px;
}

.icon-box__link {
  color: #C6CBCD;
}

.icon-box__link:hover {
  color: #E71414;
}

.icon-box__link:active {
  color: #FF4343;
}

/*------carousel------*/

.carousel {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.carousel__content {
  background-color: #5C3249;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__wrapper {
  width: calc(49% - 4px);
  display: flex;
}

.carousel__wrapper_colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 23px;
  max-width: 470px;
}

.carousel-text__title {
  font-family: 'Cardo', serif;
  font-size: 36px;
  line-height: 49px;
  text-align: left;
  text-transform: capitalize;
}

.carousel-text__post-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
}

/*------download-box----*/

.main__footer {
  padding: 114px 0 114px 0;
}

.download-box__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.download-box__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.download-box__wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/*-----footer----*/

.container__item_footer {
  background: #353C65;
}

.container_footer {
  background: #353C65;
}

.footer-cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 71px 0 71px 0;
}

.footer-cover__col {
  width: 33%;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-cover__title {
  font-weight: 700;
  text-transform: uppercase;
}

.icon-box_footer {
  padding-top: 18px;
  gap: 27px;
}

.footer-under {
  background: #2C3154;
  display: flex;
  justify-content: center;
  padding: 24px 0 24px 0;
}

.footer-text {
  color: #808080;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  max-width: 370px;
  text-align: center;
}

.footer-text span {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

/*-----hamburger menu----*/
.hamburger-menu {
  padding-right: 10px;
}

/*----table----*/

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .container__item {
    max-width: 984px;
  }

  .container_header {
    background-image: url(/images/bg-s.png);
  }

  .btn__item {
    padding: 25px 63px 25px 63px;
  }

  /*----nav-bar---*/

  .nav-bar__link {
    font-size: 12px;
    line-height: 14px;
    padding: 6.5px 26px 40.5px 26px;
  }

  .logo__item {
    max-height: 230px;
  }

  /*----header----*/

  .header__title {
    font-size: 48px;
    line-height: 56px;
  }

  .header__wrapper {
    padding: 158px 0 126px 0;
  }

  .header__text {
    gap: 59px;
  }

  .header__description {
    font-size: 18px;
    line-height: 21px;
  }

  .btn_header {
    padding-top: 92px;
  }

  /*-----main---*/

  .main__header {
    padding: 90px 0 0px 0;
  }

  .card {
    max-width: calc(33% - 8px);
    gap: 40px;
    padding-bottom: 48px;
  }

  .card__title {
    font-size: 18px;
    line-height: 21px;
  }

  .card__text {
    gap: 22px;
  }

  .description {
    color: #6C7279;
    font-size: 14px;
    line-height: 16px;
  }

  /*------gallery-----*/

  .gallery {
    padding-bottom: 78px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 21px;
    gap: 22px;
  }

  .gallery__post-title {
    font-size: 14px;
    line-height: 16px;
  }

  /*-----post-middle----*/

  .main__post-middle {
    padding-bottom: 78px;
  }

  .card-developer__title {
    font-size: 18px;
    line-height: 21px;
  }

  .card-developer__post-title {
    font-size: 14px;
    line-height: 16px;
  }

  .card-developer__wrapper {
    gap: 6px;
    padding: 24px 0 20px 0;
  }

  .icon-box {
    gap: 4px;
  }

  /*------carousel------*/

  .carousel {
    gap: 18px;
  }

  .carousel-text {
    gap: 11px;
    max-width: 330px;
  }

  .carousel-text__title {
    font-size: 24px;
    line-height: 32px;
  }

  .carousel-text__post-title {
    font-size: 11px;
    line-height: 14px;
  }

  /*------download-box----*/

  .main__footer {
    padding: 77px 0 77px 0;
  }

  .btn__item_padding_down {
    padding: 24.5px 51px 24.5px 51px;
  }

  .download-box__title {
    font-size: 24px;
    line-height: 28px;
  }

  .download-box__text {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 45px;
  }

  /*-----footer----*/

  .footer-cover {
    padding: 46px 0 46px 0;
  }

  .footer-cover__col {
    font-size: 14px;
    line-height: 16px;
    gap: 15px;
  }

  .icon-box_footer {
    gap: 23px;
  }

  .footer-under {
    padding: 14px 0 14px 0;
  }

  .footer-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 314px;
  }

  .footer-text span {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 820px) {
  .nav-bar__link {
    padding: 6.5px 20px 40.5px 20px;
  }
}

@media (max-width: 768px) {

  .container {
    max-width: 768px;
  }

  .container__item {
    max-width: 716px;
  }

  .nav-bar__menu {
    display: none;
  }

  .hamburger-menu {
    display: inline-flex;
  }

  .btn__item {
    padding: 15px 46.5px 15px 46.5px;
  }

  /*------header-----*/

  .wrapper {
    border-bottom: none;
  }

  .header__title {
    font-size: 36px;
    line-height: 42px;
  }

  .header__wrapper {
    padding: 52px 0 52px 0;
  }

  .header__text {
    gap: 34px;
  }

  .header__description {
    font-size: 14px;
    line-height: 16px;
  }

  .btn_header {
    padding-top: 50px;
  }

  /*------main------*/

  .main__header {
    padding: 50px 0 35px 0;
    gap: 15px;
  }

  .card {
    max-width: calc(50% - 15px);
    gap: 35px;
    padding-bottom: 50px;
  }

  .card__title {
    font-size: 18px;
    line-height: 21px;
  }

  .card__text {
    gap: 10px;
  }

  .description {
    font-size: 14px;
    line-height: 16px;
  }

  /*------gallery-----*/

  .gallery {
    padding-bottom: 35px;
  }

  .gallery__item {
    max-width: 50%;
  }

  /*-----post-middle----*/

  .main__post-middle {
    padding-bottom: 35px;
  }

  .card-developer {
    max-width: 45%;
  }

  .card-developer__title {
    font-size: 18px;
    line-height: 21px;
  }

  .card-developer__post-title {
    font-size: 14px;
    line-height: 16px;
  }

  .card-developer__wrapper {
    gap: 6px;
    padding: 30px 0 40px 0;
  }

  /*------carousel------*/

  .carousel {
    gap: 23px;
  }

  .carousel-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 25px;
    max-width: 275px;
  }

  .carousel-text__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .carousel-text__post-title {
    font-size: 12px;
    line-height: 14px;
  }

  .carousel__wrapper {
    width: 100%;
    justify-content: center;
  }

  .carousel__wrapper_bg_white {
    background-color: #fff;
  }

  .carousel__content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .carousel__wrapper_colum {
    padding: 30px 0 95px 0;
  }

  .carousel-text {
    gap: 28px;
    max-width: 275px;
  }

  /*------download-box----*/

  .main__footer {
    padding: 45px 0 45px 0;
  }

  .download-box__title {
    font-size: 18px;
    line-height: 21px;
  }

  .download-box__text {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 15px;
  }

  .btn__item_padding_down {
    padding: 24.5px 30.5px 24.5px 30.5px;
  }

  /*-----footer----*/
  .footer-cover {
    padding: 34px 0 34px 0;
    gap: 65px;
  }

  .footer-cover__col {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    gap: 35px;
  }

  .icon-box_footer {
    padding-top: 0px;
  }

  .footer-under {
    padding: 28px 0 28px 0;
  }

  .footer-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 280px;
  }

  .footer-text span {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
  }
}
